<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/layout-admin :: main-fragment(
        ~{:: title},
        ~{:: #css},
        ~{:: .course-list},
        ~{:: #js}
      )}
">

<head>
    <title>Tạo user</title>

    <!-- Link select2 -->
    <th:block id="css">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    </th:block>
</head>

<body>

<!-- BODY -->
<div class="course-list m-4">
    <div class="mb-4">
        <button class="btn-custom btn-create-course" id="btn-create-user">
            <span><i class="fa-solid fa-plus"></i></span>
            Tạo
        </button>
        <a href="/admin/users" class="btn-custom btn-refresh">
            <span><i class="fa-solid fa-angle-left"></i></span>
            Quay lại
        </a>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="course-list-inner p-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="user-name" class="form-label fw-bold">Tên</label>
                            <input type="text" class="form-control" id="user-name">
                        </div>
                        <div class="mb-3">
                            <label for="user-email" class="form-label fw-bold">Email</label>
                            <input type="text" class="form-control" id="user-email">
                        </div>
                        <div class="mb-3">
                            <label for="user-password" class="form-label fw-bold">Password</label>
                            <input type="text" class="form-control" id="user-password">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="user-phone" class="form-label fw-bold">Số điện thoại</label>
                            <input type="text" class="form-control" id="user-phone">
                        </div>
                        <div class="mb-3">
                            <label for="user-roles" class="form-label fw-bold">Roles</label>
                            <select class="form-control" id="user-roles" multiple="multiple">
                                <option
                                        th:each="role : ${roleList}"
                                        th:value="${role.id}"
                                        th:text="${role.name}"
                                >USER
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block id="js">
    <!-- select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script th:inline="javascript">
        let roleList = [[${roleList}]];
        console.log(roleList);

        // Truy cập vào các thành phần
        const userName = document.getElementById("user-name");
        const userEmail = document.getElementById("user-email");
        const userPassword = document.getElementById("user-password");
        const userPhone = document.getElementById("user-phone");
        const userRoles = $("#user-roles");
        const btnCreate = document.getElementById("btn-create-user")

        // Kích hoạt select2
        userRoles.select2({
            placeholder: "- Chọn role"
        })

        // Tạo khóa học
        btnCreate.addEventListener("click", async () => {
            let roles = userRoles.val();
            let rolesConvert = roles.map(e => Number(e));

            try {
                let res = await axios.post("/api/admin/users", {
                    name: userName.value,
                    email: userEmail.value,
                    password: userPassword.value,
                    phone: userPhone.value,
                    roleIds: rolesConvert
                })

                if (res.data) {
                    toastr.success("Tạo user thành công");
                    setTimeout(() => {
                        window.location.href = `/admin/users/${res.data.id}`
                    }, 1000)
                }
            } catch (e) {
                toastr.error(e.response.data.message);
                console.log(e);
            }
        })
    </script>
</th:block>

</body>

</html>