<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/layout-admin :: main-fragment(
        ~{:: title},
        ~{},
        ~{:: .course-list},
        ~{:: #js}
      )}
">

<head>
    <title>Danh sách user</title>
</head>

<body>
<!-- BODY -->
<div class="course-list m-4">
    <div class="mb-4">
        <a href="/admin/users/create" class="btn-custom btn-create-course">
            <span><i class="fa-solid fa-plus"></i></span>
            Tạo user
        </a>
        <a href="/admin/users" class="btn-custom btn-refresh">
            <span><i class="fa-solid fa-arrow-rotate-right"></i></span>
            Refresh
        </a>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="course-list-inner p-2">
                <table class="table course-table">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:with="users=${data.content}">
                        <tr th:each="user, state : ${users}">
                            <td th:text="${(state.index + 1) + ((data.pageNumber - 1) * data.pageSize)}">1</td>
                            <td>
                                <a th:href="@{/admin/users/{id} (id=${user.id})}"
                                   th:text="${user.name}">Nguyen Van A</a>
                            </td>
                            <td th:text="${user.email}">a@gmail.com</td>
                            <td th:text="${user.phone}">0987654321</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

                <div class="d-flex justify-content-center mt-3" th:if="${data.totalPages.size()} > 1">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" th:if="${not data.first}">
                                <a class="page-link"
                                   th:href="@{/admin/users?page={pageNumber} (pageNumber = ${data.pageNumber - 1})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:each="p : ${data.totalPages}"
                                th:classappend="${p == data.pageNumber} ? 'active' : ''">
                                <a class="page-link" th:href="@{/admin/users?page={pageNumber} (pageNumber = ${p})}"
                                   th:text="${p}">1</a>
                            </li>
                            <li class="page-item" th:if="${not data.last}">
                                <a class="page-link"
                                   th:href="@{/admin/users?page={pageNumber} (pageNumber = ${data.pageNumber + 1})}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<th:block id="js">
    <script th:inline="javascript">
        let data = [[${data}]];
        console.log(data);
    </script>
</th:block>
</body>

</html>